MG_ADMIN_USER=admin@example.com
MG_ADMIN_PASS=your_admin_password_here
MG_PAID_USER=paid@example.com
MG_PAID_PASS=your_paid_password_here
MG_FREE_USER=free@example.com
MG_FREE_PASS=your_free_password_here
